.input-label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 3px;
}

.input-label input{
    border: solid 1px lightgray;
    border-radius: 8px;
}