<div class="row mt-4">
    <div class="d-flex justify-content-center">
        <div class="col-11">
            <div class="card">
                <div class="row">
                    <div class="col-12 d-flex div-lista-regras">
                        <ul>
                            <li>1- Não olhe o código a não ser que seja pedido durando a caça</li>
                            <li>2- E só</li>
                            <li>3- Divirtase</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>