<div class="black">
    <p class="parte-1 none">Recebendo mensagem...</p>
    <p class="parte-2 none">Não entendi o que isso significa</p>
    <p class="parte-3 none">Mas alguem esta tentando derrubar uma monarquia tirana</p>
    <p class="parte-4 none">Espera... Essa mensagem veio do futuro?</p>
    <p class="parte-5 none">---------------------------------------------</p>
    <p class="parte-6 none">Meu nome é Tom</p>
    <p class="parte-7 none">Envio esta mensagem para todo o espaço tempo</p>
    <p class="parte-8 none">Estou no ano de 5010</p>
    <p class="parte-9 none">Nós conseguimos</p>
    <p class="parte-10 none">Conseguimos derrubar o prefeito</p>
    <p class="parte-11 none">Mas isso nos custou muito</p>
    <p class="parte-12 none">Amanda foi lançada para pelo espaço tempo</p>
    <p class="parte-13 none">Se você encontrar ela tome conta dela</p>
    <p class="parte-14 none">Ela pode ficar desnorteada no começo</p>
    <p class="parte-15 none">Mas tente acalma-la</p>
    <p class="parte-16 none">Estamos trabalhando em uma forma de traze-la devolta</p>
    <p class="parte-17 none">--Fim da Trasmissão--</p>
</div>