<div class="container-fluid">
    <div class="card mt-3" style="margin-bottom: 25px;">
        <div class="col-12 d-flex justify-content-center mt-3 np">
            <span>Para sua primeira investigação imprima os dados da investigação</span>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3 print" style="flex-direction: column;">
            <h2>Título da investigação: "O Enigma do Assassinato na Mansão Eldridge"</h2>
            <span class="span-text">
                <span><strong>Cena do crime:</strong></span>
                <span><strong>Local:</strong> Mansão Eldridge, uma imponente residência isolada nos arredores da cidade.</span>
                <span><strong>Data e hora:</strong> 20 de março de 2023, às 22h00.</span>
                <span><strong>Descrição:</strong> O corpo de Lord Edgar Eldridge, um rico magnata de negócios, foi encontrado no estudo da mansão. O
                    cômodo estava em completo
                    desalinho, com móveis derrubados e objetos espalhados pelo chão. A vítima foi encontrada com um ferimento de bala no peito,
                    próximo à lareira.
                </span>
            </span>
            <span class="span-text">
                <span><strong>Arma usada:</strong></span>
                <span><strong>Tipo:</strong> Revólver calibre .45</span>
                <span><strong>Descrição:</strong> O revólver foi encontrado no chão ao lado do corpo de Lord Eldridge.
                    Ele continha cinco cartuchos disparados e um cartucho intacto. A arma não pertencia à vítima e não tinha impressões digitais
                    evidentes.</span>
            </span>
            <hr>
            <span class="span-text">
                <strong>Suspeitos:</strong>
                <span><strong>Dr. Benjamin Blackwood:</strong>
                    Descrição: Dr. Benjamin Blackwood era o médico particular de Lord Eldridge e
                    frequentemente visitava a mansão para tratar de problemas de
                    saúde do magnata. Ele era conhecido por ser um sujeito com temperamento instável e tinha um histórico de conflitos com a vítima.
                    <br><strong>Motivação:</strong> Dr. Blackwood tinha grandes dívidas devido a um vício em jogos de azar e poderia perder sua
                    carreira e
                    reputação caso
                    Lord Eldridge revelasse seus problemas financeiros.
                </span>
                <hr>
                <span>
                    <strong>Sra. Victoria Eldridge:</strong>
                    Descrição: Esposa de Lord Eldridge, Sra. Victoria era uma mulher elegante e ambiciosa, casada com o magnata por interesse
                    financeiro.
                    Mantinha um caso extraconjugal com um misterioso amante.
                    <br><strong>Motivação:</strong> Sra. Victoria poderia ter interesse em se livrar do marido para herdar sua fortuna e ficar com seu
                    amante, evitando um
                    divórcio
                    escandaloso.
                </span>
                <hr>
                <span>
                    <strong>Sr. Edward Kingston:</strong>
                    Descrição: Sr. Kingston era o mordomo da Mansão Eldridge há muitos anos.
                    Era um homem leal e reservado, que guardava muitos segredos da família.
                    <br><strong>Motivação:</strong> Sr. Kingston poderia ter descoberto algo sobre os negócios
                    ilícitos de Lord Eldridge ou seus casos extraconjugais, o que
                    poderia levá-lo a querer eliminar o patrão para proteger seus próprios interesses.
                </span>
                <hr>
                <span>
                    <strong>Sr. Michael Radcliffe:</strong>
                    Descrição: Amigo de infância e sócio nos negócios de Lord Eldridge,
                    Sr. Radcliffe estava enfrentando dificuldades financeiras e contava
                    com o apoio do magnata para se manter. crime.
                    <br><strong>Motivação:</strong> A vítima poderia ter se recusado a ajudar financeiramente Sr. Radcliffe, levando-o a um desespero
                    que
                    culminou no
                </span>
            </span>
            <hr>
            <span class="span-text">
                <strong>Depoimentos dos suspeitos:</strong>
                <span>
                    <strong>Dr. Benjamin Blackwood:</strong><br>
                    <strong>Detetive:</strong> Dr. Blackwood, por favor, relate o que aconteceu na noite do assassinato de Lord Eldridge na Mansão
                    Eldridge.<br>

                    <strong>Dr. Blackwood:</strong> Bem, eu estava na mansão naquela noite para uma consulta de rotina com Lord Eldridge. Discutimos
                    alguns assuntos
                    médicos, e eu o examinei no estudo. Após a consulta, por volta das 21h30, me despedi e saí da mansão. Não vi ou ouvi nada suspeito
                    durante minha visita.
                </span>
                <hr>
                <span>
                    <strong>Sra. Victoria Eldridge:</strong><br>
                    <strong>Detetive:</strong> Sra. Victoria, poderia nos contar sobre sua relação com seu marido e sua presença na noite do
                    assassinato?<br>

                    <strong>Sra. Victoria:</strong> Meu marido e eu tínhamos um casamento de conveniência. Estávamos juntos apenas por razões
                    financeiras. Naquela
                    noite,
                    estávamos jantando juntos até tarde. Após o jantar, retirei-me para o meu quarto. Não ouvi ou vi nada estranho durante a noite. Eu
                    não
                    tinha nada a ver com a morte de meu marido.
                </span>
                <hr>
                <span>
                    <strong>Sr. Edward Kingston:</strong><br>
                    <strong>Detetive:</strong> Sr. Kingston, como era sua relação com Lord Eldridge? Você poderia nos contar sua versão dos eventos na
                    noite do crime?<br>

                    <strong>Sr. Kingston:</strong> Trabalhei para a família Eldridge por muitos anos, e sempre fui leal a eles. Na noite do
                    assassinato, eu estava
                    ocupado
                    com minhas tarefas habituais na mansão e não entrei no estudo. Após o jantar, Lord Eldridge seguiu para seu estudo enquanto eu me
                    ocupava em outros afazeres. Não tenho ideia do que possa ter acontecido lá.
                </span>
                <hr>
                <span>
                    <strong>Sr. Michael Radcliffe:</strong><br>
                    <strong>Detetive:</strong> Sr. Radcliffe, por favor, relate seus movimentos na noite do assassinato de Lord Eldridge.<br>

                    <strong>Sr. Radcliffe:</strong> Bem, eu estava enfrentando dificuldades financeiras e conversei com Lord Eldridge sobre isso
                    recentemente. Naquela
                    noite, eu estava em casa com minha família. Não tive contato com Lord Eldridge durante o dia todo e certamente não tive nenhum
                    envolvimento com o crime.
                </span>
            </span>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3 no-print" id="d2">
            <span>As vezes o amor não tem bons fundamentos</span>
        </div>
    </div>
</div>