.btn-pass, .btn-pass:hover, .btn-pass:focus{
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    padding: 0 0 7px 5px;
    height: 57.6px;
    margin: 0;
    justify-content: center;
    align-items: end;
}