<div class="container-fluid" style="padding: 0; margin: 0; width: 100%;overflow-x: hidden;">
  <div class="col-12 nav-header">
    <div class="col-12 d-flex row">
      <div class="div-img">
        <img src="../assets/icons/logoSfundo1.png" width="80px" alt="">
      </div>
      <div class="col-4 d-flex div-lista">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/regras">Regras</a></li>
          <li><a routerLink></a></li>
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>