#tela{
    width: 100% !important;
    height: calc(100vh - 90px) !important;
    display: flex;
}

#caixa{
    position: absolute;
    top: 20%;
    right: 15%;
    /* background-color: black; */
    width: 65px;
    height: 65px;
    z-index: 99999;
}

#caixa2{
    position: absolute;
    bottom: 20%;
    left: 15%;
    /* background-color: black; */
    width: 65px;
    height: 65px;
    z-index: 99999;
}

.click{
    cursor: pointer !important;
}

.span-texto{
    width: 100%;
    text-align: center;
}