<div class="black" id="max">
    <div class="p-10">
        <p class="ocultar">Antes de continuar, preciso que informe seu nome</p>
        <input type="text" id="o" class="input-nome none" [(ngModel)]="nome" autocomplete="off">
        <button class="btn btn-green" *ngIf="nome" (click)="salvarNome()">Enviar</button>

        <p class="parte-1 none">Seja Bem vindo {{nome}}</p>
        <p class="parte-2 none">É um prazer ter você aqui</p>
        <p class="parte-3 none">Prepare-se para os jogos</p>
        <p class="parte-4 none">Mas antes decifre a chave</p>
        <p class="parte-5 none">E coloque a resposta na url</p>
        <p class="parte-6 none">Este arquivo contem a chave para o próximo nível</p>
    </div>  
</div>